ol.progtrckr {
    list-style-type: none;
    padding: 0;
  }
  
  ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 4.5rem;
    cursor: pointer;
    width: 20%;
  }
  
  ol.progtrckr li span {
    padding: 0 1.5rem;
    
  }
  
  @media (max-width: 650px) {
    .progtrckr li span {
      display: none;
    }
  }
  .progtrckr em {
    display: none;
    font-weight: 700;
    padding-left: 1rem;
  }
  
  @media (max-width: 650px) {
    .progtrckr em {
      display: inline;
    }
  }
  
  ol.progtrckr li.progtrckr-todo {
    color: grey;
    border-bottom: 4px solid grey;
  }
  
  ol.progtrckr li.progtrckr-doing {
    color: red;
    border-bottom: 4px solid grey;
  }
  
  ol.progtrckr li.progtrckr-done {
    color: #0984db;
    border-bottom: 4px solid#0984db;
  }
  
  ol.progtrckr li:after {
    content: "\00a0\00a0";
  }
  
  ol.progtrckr li:before {
    position: relative;
    bottom: -3.7rem;
    float: left;
    left: 50%;
  }
  
  ol.progtrckr li.progtrckr-todo:before {
    content: "\2022";
    background-color: #520404;
    color: black;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
    display: none;
  }
  
  ol.progtrckr li.progtrckr-todo:hover:before {
    color: #ff4500;
    display: none;
  }
  
  ol.progtrckr li.progtrckr-doing:before {
    content: "\2022";
    background-color:  #520404;
    color: white;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
    display: none;
  }
  
  ol.progtrckr li.progtrckr-doing:hover:before {
    color: #ff4500;
    display: none;
  }
  
  ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #5cb85c;
    display: none;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
  }
  
  ol.progtrckr li.progtrckr-done:hover:before {
    color: #333;
  }
  
  button.next , button.back{
    display:inline-block;box-sizing:border-box;cursor:pointer;outline:none;font:inherit;
    -webkit-text-decoration:none;text-decoration:none;background:#520404;overflow:visible;
    text-transform:none;border:2px solid #ffffff;border-radius:25px;color:#f8f8f8;padding:4px 22px;
    font-size:18px;line-height:24px;-webkit-transition:0.1s ease-in-out;transition:0.1s ease-in-out;
  } 
  
  button.next:hover , button.back:hover{
    box-shadow:0px 0px 0px 2px #ffffff;
    border: none;
  }

  button.next {
    margin-top: 5px;
    float: right;
    background-color :#0984db;
    border: none;
    border-radius: 5px;
    margin-right: 20%;
    width: 20%;
  }

  button.back {
    margin-top: 5px;
    background-color :rgb(214, 211, 211);
    border-radius: 5px;
    border:none;
    width: 10%;
    /* float: right; */
    margin-left: 48.5%;
  }
